
<div class="card text-white bg-secondary mb-3" style="width: 21.5em;margin:0 auto;">
  <div class="card-block">
     <h4 class="card-title"><h3>Welcome to the invesments page, <%=@user.first_name %>!</h3> <br></h4>
     <p class="card-text ml-5 ml-lg-0">

<%= button_to("Invest now!", new_investment_path(@user), method: :get, :class => "btn btn-success") %>
    <h4>Your total investment: <%=@user.investments.sum("amount")%></h4>

    <h4>Invest more below!</h4>
  </div>
</div>

<div class="card-footer ml-5 ml-lg-0">
  <%= button_to("Account summary", user_path(@current_user), method: :get, :class => "btn btn-light btn-sm") %>
</div>
